.button {
    width: 100%;
    height: fit-content;
    
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;

    border-radius: var(--border-radius-s);

    cursor: pointer;
}

.button:active {
    scale: 0.98;
}
.link {
    width: 100%;
    padding: 0;
    margin: 0;
}

.main {
    background: var(--color-accent);
    color: var(--color-grey-ultra-dark);
}

.primary {
    background: var(--color-grey-ultra-dark);
    color: var(--color-accent);
}

.primaryDark {
    background: var(--color-body-light);
    color: var(--color-accent);
}

.danger {
    background: var(--color-grey-ultra-dark);
    color: var(--color-danger);
}

.dangerDark {
    background: var(--color-body-light);
    color: var(--color-danger);
}

.outline {
    border: var(--color-grey) 2px solid;
    color: var(--color-grey);
}

.circle {
    width: min-content;
    color: var(--white);
    background: var(--color-blur);
    backdrop-filter: var(--backdrop-filter-2);

    border-radius: 50%;
    padding: 8px;
}

.icon {
    background: var(--color-body-light);
    border-radius: var(--border-radius-xs);
    padding: 8px;
}