.menu {
    padding: 6px;

    transition: var(--transition);
    display: flex;
    flex-direction: column;
    gap: 2px;

    background: var(--color-body-light);
    border: 1px solid var(--color-grey-ultra-dark);
    border-radius: var(--border-radius-s);
}