.swiper {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 38px;
}

.slide {
    width: fit-content;
}
.slide:nth-child(1) {
    padding-left: 24px;
}

.slide:last-child {
    padding-right: 24px;
}