:root {
    --color-accent: #C9FC6E;
    --color-danger: #FF0031;
    --color-white: #FFFFFF;
    --color-grey-light: #CCCCCC;
    --color-grey: #999999;
    --color-grey-dark: #666666;
    --color-grey-ultra-dark: #333333;
    --color-body-light-lighten: #262626;
    --color-body-light: #161616;
    --color-body: #000000;

    --color-blur: rgba(16, 16, 16, 10%);
    --color-blackout: rgba(0, 0, 0, 60%);

    --backdrop-filter-1: blur(18px);
    --backdrop-filter-2: blur(30px);

    --border-radius-xxs: 6px;
    --border-radius-xs: 12px;
    --border-radius-s: 16px;
    --border-radius-m: 24px;
    --border-radius-l: 28px;
    --border-radius-xl: 32px;
    --border-radius-xxl: 36px;

    --transition: all .3s cubic-bezier(0.77, 0, 0.175, 1);
}

a { color: inherit }
button { background-color: inherit }

svg *[color] { 
    fill: currentColor;
    stroke: currentColor
}

html {
    -webkit-text-rendering: optimizeSpeed;
    text-rendering: optimizeSpeed;

    -webkit-overflow-scrolling: touch;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: subpixel-antialiased;

    height: 100dvh;
    width: 100%;

    color-scheme: dark;
}

body {
    position: relative;
    overflow-x: hidden;

    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;
    
    background: var(--color-body);
    color: var(--color-white);

    overscroll-behavior-y: contain;
}

main {
    width: 100%;
    height: 100%;

    scrollbar-width: thin;
    scrollbar-color: var(--color-grey-ultra-dark) var(--color-body);
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0; 
}

input, button {
    box-sizing: border-box;
    border: none;
    outline: none;

    font-family: inherit;
}

textarea {
    box-sizing: border-box;
    outline: none;
}

svg {
    object-fit: cover;
    object-position: center;
}

a {
    text-decoration: none;
}

div, a, button {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
div:focus, a:focus, button:focus { 
    outline: none !important;
    box-shadow: none !important;
}
