textarea, input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 16px;
    border-radius: var(--border-radius-s);

    border: var(--color-grey-ultra-dark) 1px solid;
    color: var(--color-white);
    background: var(--color-body);

    &::placeholder {
        color: var(--color-grey-dark);
    }
}

textarea {
  resize: none;
}

input[type="number"] {
  padding: 12px;
  width: 46px;
  text-align: center;
  border-radius: var(--border-radius-s);
  background: var(--color-body);
  color: var(--color-accent);

  border: var(--color-grey-ultra-dark) 1px solid;

  &::placeholder {
    color: var(--color-body);
  }

  &:not(&:placeholder-shown) {
    border: var(--color-accent) 1px solid;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type=file] { 
    display: block; 
    height: 0;
    width: 0;
    visibility: hidden;

    margin: 0;
    padding: 0;
}

.imageUploader {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 80px;
  height: 80px;

  border-radius: var(--border-radius-s);
  border: 1px dashed var(--color-grey-light);

  cursor: pointer;

  transition: var(--transition);

  margin: 0;
  padding: 0;

  &Wrapper {
    width: 82px;
    height: 82px;
  }
  &:hover {
    background: var(--color-body-light);
  }
}

.actionButtons {
  position: absolute;
  top: 12px;
  right: 12px;

  display: flex;
  gap: 8px;
  z-index: 20;
}

.textAreaWrapper {
  position: relative;
  width: 100%;
}
.textAreaWrapper > p {
  position: absolute;
  bottom: 12px;
  right: 12px;
  color: var(--color-grey);
  z-index: 1300;
}