textarea, input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 16px;
    border-radius: var(--border-radius-s);

    border: var(--color-grey-ultra-dark) 1px solid;
    color: var(--color-white);
    background: var(--color-body);

    &::placeholder {
        color: var(--color-grey-dark);
    }
}

input[type="number"] {
  padding: 12px;
  width: 46px;
  text-align: center;
  border-radius: var(--border-radius-s);
  background: var(--color-body);
  color: var(--color-accent);

  border: var(--color-grey-ultra-dark) 1px solid;

  &::placeholder {
    color: var(--color-body);
  }

  &:not(&:placeholder-shown) {
    border: var(--color-accent) 1px solid;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}