.cookie {
    box-sizing: border-box;

    width: 656px;
    position: fixed;
    bottom: 12px;
    right: 12px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    transition: var(--transition);

    background: var(--color-body-light);
    border-radius: var(--border-radius-xl);
    
    z-index: 1001;
    padding: 32px 24px;
    
    &Data {
        display: flex;
        flex-direction: column;
        width: 430px;
        gap: 8px;

        > p {
            color: var(--color-grey)
        } 
        span {
            margin-left: 8px;
        }
    }

    button {
        width: 141px
    }
    
}

.hide {
    opacity: 0;
    visibility: hidden;
}

@media (max-width: 430px) {
    .cookie {
        left: 0;
        right: 0;
        margin: 0 auto;
        width: calc(100% - 48px);
        flex-direction: column;
        gap: 24px;
        &Data {
            width: 100%;
        }
        
        button {
            width: 100%;
        }
    }
}