.MoreLinksItem {
    position: relative;
    box-sizing: border-box;
    color: var(--color-white);

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
    cursor: pointer;
}

.MoreLinksItem > p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.MoreLinksItem:hover > div > svg{
    color: #fff;
}
.MoreLinksItem > div > svg {
    transform: rotate(180deg);
    transition: var(--transition);
}

