.authentication {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    box-sizing: border-box;
    padding: 0 24px;
    gap: 64px;

    &Image {
        width: 200px;
        height: 200px;
    }
    div {
        width: 100%;
    }

    h1 {
        text-align: center;
    }

    &Buttons, &Content {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &Content {
        gap: 48px;
    }

    &Cancel {
        position: fixed;
        left: 24px;
        top: 24px;
    }
}

@media (max-width: 430px) {
    .authentication {
        height: calc(100% - 64px);
    }
}

@media (max-height: 640px) {
    .authentication {
        gap: 32px;
        &Image {
            width: 160px;
            height: 160px;
        }
    }
}