.authentication {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    box-sizing: border-box;
    padding: 0 24px;
    gap: 64px;

    div {
        width: 100%;
    }

    h1 {
        text-align: center;
    }

    &Buttons, &Content {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &Content {
        gap: 48px;
    }

    &Cancel {
        position: fixed;
        left: 24px;
        top: 24px;
    }
}