.authorization {
    &Form {
        height: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        gap: 64px;

        width: 100%;
        box-sizing: border-box;
        padding: 0 24px;
    }

    &Controllers, &Buttons, &Inputs { 
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &Controllers {
        gap: 48px;
    }
}

.Scroll {
    height: calc(100dvh - 67px);
}