.CreateReview {
    display: flex;
    flex-direction: column;
    width: 100%;

    gap: 24px;

    box-sizing: border-box;
    padding: 0 24px;

    h1, p {
        text-align: center;
    }

    &Images {
        display: flex;
        flex-direction: column;
        gap: 24px;
        
        > p {
            color: var(--color-grey);
        }
    }
}